body {
  padding: 0;
  margin: 0;
  background-color: rgb(44, 44, 44);

  color: white;
}

.App {
  margin-bottom: 25px;
  display: grid;
  grid-template-columns: 25vw 50vw 25vw;
  gap: 25px;
}

.content {
  grid-column: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  grid-column: 1/4;
  text-align: center;
  background-color: rgb(30, 30, 30);
  /* min-width: 100vh; */
}

.post-author {
  color: black;
  text-decoration: underline;
}

.header h1 {
  font-size: 2.5rem;
}

.author-details {
  text-align: center;
}

.new-post {
  display: grid;
  justify-items: center;
  text-align: center;
  gap: 10px;
  grid-template-columns: minmax(40vw, 1fr);
}





#title,
#text {
  border-radius: 10px;
  border: 3px rgb(193, 186, 186) solid;
  padding: 10px;
  width: 100%;
}

#text {
  height: 10vh;
}


.submit-new-post {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 22px;
}

.submit-new-post:hover {
  background-color: #0056b3;
}

.submit-new-post:focus {
  outline: none;
  box-shadow: 0 0 0 2px #007bff;
}

.posts-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 25px;

}

.post {
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 8px;
  color: black;
  text-align: center;
  overflow: hidden;
}

.post a {
  text-decoration: none;
  color: #333;
}

.post h2 {
  /* font-size: 20px; */
  margin-bottom: 10px;
}

.post h5 {
  color: #666;
  margin-bottom: 8px;
}

.invalid:focus {
  outline: red;
}

.back-home {
  text-decoration: none;
  color: white;
}

.all-post-author-link {
  color: #007bff
}